:root {
  --black-main: #212121;
  --second-black: #000000;
  --main-blue: #2196f3;
  --background-grey: #2f303a;
  --main-white: #ffffff;
  --light-pink: #f5f4fa;
  --main-silver: #757575;
  --second-silver: rgba(255, 255, 255, 0.6);
  --light-grey: #eeeeee;
  --second-light-grey: #ececec;
  --icon-color4: #afb1b8;
  --shadow-grey: rgba(5 5 5 / 0.4);
  --black-transp: rgba(0, 0, 0, 0.15);
  --opacity-white: rgba(255, 255, 255, 0.2);
}
